// Variables
//=======================================
$header-height: 8vh;

// AppWrapper
//=======================================
#app-wrapper {
  background-color: #fef2e7; /*#FAF9F6*/
  margin: $header-height 0 0 0;
  min-height: calc(100vh - #{$header-height});
}

// Header
//=======================================
#header {
  align-items: center;
  background-color: #007da3; /*cef3b7=light-green*/
  color: white;
  display: flex;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: $header-height;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98; /* change z-index if you want the sidebar to display FULLY */
}

.home /* add more !*/ {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 3rem;
  height: 90vh;
  justify-content: center;
}

/* Navbar CSS */
.navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: flex-start;
}

.menu-bars {
  margin-left: 5px;
  width: 42px; /* to keep the title static while sidebar opens */
}

.menu-icon {
  cursor: pointer;
}

/* invisible box for header spacing */
.box {
  height: 48px;
  margin-right: 5px;
  width: 42px;
}

.nav-menu {
  background-color: #fff;
  height: 100vh;
  /*display: flex*/
  justify-content: center;
  left: -100%;
  position: fixed;
  top: 0;
  transition: 850ms;
  width: 300px;
}

.nav-menu.active {
  background-color: rgb(251, 251, 255);
  left: 0;
  transition: 450ms;
  z-index: 99;
}

.nav-text {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-start;
  list-style: none;
  padding: 8px 0 8px 16px;
}

.nav-text a {
  align-items: center;
  border-radius: 4px;
  color: #151414;
  display: flex;
  font-size: 18px;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  width: 95%;
}

.nav-text a:hover {
  background-color: #000;
  color: #fff;
}

.nav-menu-items {
  padding-left: 0;
  width: 100%;
}

.navbar-toggle {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: flex-start;
  width: 100%;
}

.sidebar-titles {
  margin-left: 16px;
}

.close-btn {
  cursor: pointer;
  margin-left: -30px;
  padding-left: 20px;
  padding-top: 25px;
}
