@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  text-align: center;
}

.prevButton {
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.prevButton:hover {
  background-color: green;
  transition: 0.5s;
}

.nextButton {
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.nextButton:hover {
  background-color: green;
  transition: 0.5s;
}
