@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

$theme-blue: #007da3;

body {
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  text-align: center;
}

.content-container {
  padding: 40px 10% 0;
}

.setup {
  padding-bottom: 30px;
  padding-top: 45px;
}

.accordion {
  width: 100%;
}

.item {
  background: white; /*FFE4CB for background of accordion*/
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  margin-bottom: 20px;
  padding: 10px 20px;
}

.title {
  align-items: center;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.content {
  color: black; //color of text inside accordion
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  position: relative;
}

.next-btn {
  background-color: transparent;
  border: 0;
  bottom: 3vh;
  cursor: pointer;
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 22px;
  position: fixed;
  right: 0.5%;
}

.prev-btn {
  background-color: transparent;
  border: 0;
  bottom: 3vh;
  cursor: pointer;
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 22px;
  left: 0.5%;
  position: fixed;
}

/* ========== KHAN ACADEMY CARD CSS ========== */
.khan-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.khan-card-container {
  background-color: white;
  border: 2px solid black;
  margin: 20px; // subject to change
  padding: 35px;
}

.khan-card-container-correct {
  border: 2px solid green;
}

.khan-content {
  padding: 40px;
}

.khan-horizontal-line {
  background: grey;
  height: 1px;
  margin-bottom: 20px;
  width: 100%;
}

.khan-title {
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
}

.show-answer,
.tries-left {
  color: #8a8a8a;
}

.tries-left-container {
  display: flex;
}

.circle-container {
  align-items: center;
  display: flex;
  padding: 0 30px;
}

.circle {
  background-color: grey;
  border-radius: 50%;
  height: 10px;
  margin: 0 10px;
  width: 10px;
}

.circle-active {
  background-color: $theme-blue;
}

.show-answer {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 12pt;
  padding: 0;
}

.tries-left {
  align-self: center;
  display: flex;
}

.khan-check-button {
  background-color: $theme-blue;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  outline: 0;
  padding: 6px 12px;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.khan-check-button:hover {
  background-color: #0b5ed7;
}

.khan-check-button:disabled {
  background-color: #f0efef;
  cursor: auto;
}

.correct-explanation {
  color: green;
}

.incorrect-explanation {
  color: red;
}

.progress-bar {
  align-items: center;
}

// =========== FinishCode Card CSS ===========
.code-component-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.factorial-text {
  flex: 1;
}

.finish-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.finish-card-container {
  background-color: white;
  border-radius: 1em;
  box-shadow: 1em 1em 1em 1em rgba(192, 192, 192, 0.5);
  flex-direction: column;
  margin: 5em; // subject to change
  padding: 35px;
}

.finish-card-container-correct {
  border: 2px solid green;
}

.finish-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.output-box {
  background-color: #f0efef;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333;
  flex: 1;
  font-size: 14px;
  line-height: 1.42857143;
  margin-left: 5em;
  margin-right: 5em;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 60%;
}

.finish-horizontal-line {
  background: grey;
  height: 1px;
  margin-bottom: 20px;
  width: 100%;
}

.finish-title {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
}

.finish-check-button {
  background-color: $theme-blue;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  outline: 0;
  padding: 6px 12px;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.finish-check-button:hover {
  background-color: #0b5ed7;
}

.finish-check-button:disabled {
  background-color: #f0efef;
  cursor: auto;
}

#output {
  background-color: #f0efef;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333;
  flex: 1;
  // font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.42857143;
  margin-left: 5em;
  margin-right: 5em;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 60%;
}
