/*@font-face {
  font-family: "Helvetica";

  src: url("https://fonts.gstatic.com/s/helvetica/v1/7Auop_0qiz-aVz7u3PJLcA.eot?#iefix")
          format("embedded-opentype"),
         url("https://fonts.gstatic.com/s/helvetica/v1/7Auop_0qiz-aVz7u3PJLcA.woff2")
          format("woff2"),
         url("https://fonts.gstatic.com/s/helvetica/v1/7Auop_0qiz-aVz7u3PJLcA.woff")
          format("woff");
} */

.home-container {
  //background-color: #fef2e7;
  height: 100vh;
  width: 101%;
}

.hp-text {
  color: #808080;
  //font-family: Helvetica;
  margin-left: 33%;
  margin-right: 33%;
}

.start-button {
  animation: blink 1s infinite, fadeIn 3s;
  animation-play-state: running;
  cursor: pointer;
}

.start-button:hover {
  animation-play-state: paused;
  opacity: 0.7;
}

@keyframes blink {
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.start-button-container {
  left: 50%;
  position: absolute;
  top: 57%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 2;
}

@keyframes slide-down {
  from {
    margin-top: 20px;
  }

  to {
    margin-top: 450px;
  }
}

.homepage-title {
  height: auto;
  margin-top: 15%;
  width: 60%;
}

.meadows {
  bottom: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
  width: 100%;
  z-index: 0;
}

/* reset button styles */

.reset-button {
  animation: blink 1s infinite, fadeIn 3s;
  animation-play-state: running;
  background-color: white;
  border: 0;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  font-size: 16pt;
  height: 50px;
  margin-top: 14px;
  width: 180px;
}

.reset-button:hover {
  animation-play-state: paused;
  opacity: 0.7;
}
