.home-container {
  background-color: #fef2e7;
  height: 100vh;
  width: 100%;
}

.start-button {
  animation: blink 1s infinite;
}

.start-button:hover {
  animation: none;
}

@keyframes blink {
  50% {
    transform: scale(1.2);
  }
}

.start-button-container {
  left: 50%;
  position: absolute;
  top: 65%;
  transform: translate(-50%, -50%) scale(0.7);
}

@keyframes slide-down {
  from {
  margin-top: 20px;
  }
  
  to {
  margin-top: 450px;
  }
  
  }

.title {
  animation: slide-down 2s ease-in-out forwards;
  left: 50%;
  position: absolute;
  top: -20%;
  transform: translateX(-50%);
}
