/* CSS */
@keyframes mirror {
  0% {
    transform: scaleX(0.7) scaleY(0.7);
  }

  49% {
    transform: scaleX(0.7) scaleY(0.7);
  }

  50% {
    transform: scaleX(-0.7) scaleY(0.7);
  }

  99% {
    transform: scaleX(-0.7) scaleY(0.7);
  }

  100% {
    transform: scaleX(0.7) scaleY(0.7);
  }
}

.mario-image {
  animation: mirror 2s ease-in-out infinite;
  bottom: 12%;
  left: 69%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .mario-image {
    bottom: 10%;
    height: auto;
    width: 6%;
  }
}
