.mario-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 9pt;
}

.mario-background {
  background-color: white;
  height: 687px;
  width: 100%;
}

.problem1-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 35pt;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mario-title-container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding-top: 25px;
}

//this will be used for all pages... currently just "setup"
.new-setup {
  margin: 0;
  text-align: left;
}
