.mario-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 9pt;
}

.mario-background {
  background-size: cover;
  height: 687px;
  width: 100%;
}

.problem1-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 35pt;
}
