.mario-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 9pt;
}

.mario-background {
  background-image: url('https://picsum.photos/200/300');
  background-size: cover;
  height: 300px;
  width: 100%;
}
