.interactive-staircase {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.n-input-container {
  margin-bottom: 10px;
}

.block {
  background-color: black;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
  width: 20px;
}

.block-0 {
  background-color: red;
}

.block-1 {
  background-color: orange;
}

.block-2 {
  background-color: yellow;
}

.block-3 {
  background-color: green;
}

.block-4 {
  background-color: blue;
}

.block-5 {
  background-color: purple;
}

.block-6 {
  background-color: pink;
}

.block-7 {
  background-color: brown;
}

.block-8 {
  background-color: black;
}

.row {
  text-align: left;
}

.triangle {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.input-field {
  background-color: #f0efef;
  border: 0;
  border-radius: 5%;
  height: 25px;
  width: 60px;
}

.mario-step1-subtitle {
  text-align: left;
}

.goal {
  font-weight: 800;
  text-decoration: underline;
}
