.interactive-staircase {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.n-input-container {
  display: flex;
  justify-content: space-between;
}

.tickmark-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 0.5em;
  padding-right: 0.3em;
}

.tickmark-label {
  font-size: 15px;
}

.block {
  background-color: black;
  //display: inline-flex;
  height: 20px;
  margin: 3px;
  width: 20px;
}

.block-0 {
  background-color: #b8d8fd;
}

.block-1 {
  background-color: #c0c0fd;
}

.block-2 {
  background-color: #edd0fd;
}

.block-3 {
  background-color: #ffc6f8;
}

.block-4 {
  background-color: #ffb3d6;
}

.block-5 {
  background-color: #ffcfbc;
}

.block-6 {
  background-color: #ffe2c6;
}

.block-7 {
  background-color: #fff5c6;
}

.block-8 {
  background-color: #f1febc;
}

.column {
  // writing-mode: sideways-lr;
  // text-orientation: upright;
  display: flex;
  flex-direction: column-reverse;
}

.triangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // width: 20px;
}

.input-field {
  // background-color: #f0efef;
  // border: 0;
  // border-radius: 5%;
  // height: 25px;
  width: 300px;
}

.small-input-field {
  background-color: #f0efef;
  border: 0;
  border-radius: 5%;
  height: 25px;
  width: 30px;
}

.mario-step1-subtitle {
  text-align: left;
}

.goal {
  font-weight: 800;
  text-decoration: underline;
}
