.interactive-staircase {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tickmark-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1.9em;
  margin-top: 2px;
  padding-right: 0.3em;
  width: 292px;
}

.tickmark-label {
  font-size: 15px;
}

.input-field {
  cursor: pointer;
  width: 300px;
}

.block {
  background-color: black;
  //display: inline-flex;
  height: 20px;
  margin: 3px;
  width: 20px;
}

.block-0 {
  background-color: #b8d8fd;
}

.block-1 {
  background-color: #c0c0fd;
}

.block-2 {
  background-color: #edd0fd;
}

.block-3 {
  background-color: #ffc6f8;
}

.block-4 {
  background-color: #ffb3d6;
}

.block-5 {
  background-color: #ffcfbc;
}

.block-6 {
  background-color: #ffe2c6;
}

.block-7 {
  background-color: #fff5c6;
}

.block-8 {
  background-color: #f1febc;
}

.column {
  // writing-mode: sideways-lr;
  // text-orientation: upright;
  display: flex;
  flex-direction: column-reverse;
}

.triangle {
  background-color: darkslategrey;
  display: flex;
  flex-direction: row;
  height: 230px;
  justify-content: center;
  // width: 20px;
}

.input-field {
  cursor: pointer;
  // background-color: #f0efef;
  // border: 0;
  // border-radius: 5%;
  // height: 25px;
  width: 300px;
}

.small-input-field {
  background-color: #f0efef;
  border: 0;
  border-radius: 5%;
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 12pt;
  height: 37px;
  margin-bottom: 6px;
  padding-left: 10px;
  width: 31px;
}

.medium-input-field {
  background-color: #f0efef;
  border: 0;
  border-radius: 5%;
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 12pt;
  height: 37px;
  margin-bottom: 6px;
  padding-left: 10px;
  width: 75px;
}

.large-input-field {
  background-color: #f0efef;
  border: 0;
  border-radius: 5%;
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 12pt;
  height: 37px;
  margin-bottom: 6px;
  padding-left: 10px;
  width: 165px;
}

.mario-step1-subtitle {
  text-align: left;
}

.goal-container {
  display: flex;
  justify-content: center;
}

.goal {
  background-color: #f0efef;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  padding: 10px 80px;
  width: fit-content;
}
