.textbox {
  background-color: white;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

.textbox .intro-title {
  align-items: center;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.textbox .intro-content {
  text-align: justify;
}
