.textbox {
  background-color: white;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.textbox .intro-title {
  align-items: center;
  color: #85662b;
  display: flex;
  justify-content: space-between;
}

.textbox .intro-content {
  text-align: justify;
}
