@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');

.problem2-title {
  font-family: 'Montserrat', cursive;
  font-size: 3em !important;
  font-weight: bolder !important;
  text-align: left;
}

.dining-setup {
  font-family: 'Poppins', cursive;
  padding: 1em 0;
  text-align: left;
}

.profile-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.output-divider {
  background-color: #e0e0e0;
  border: 1px solid #000;
  display: block;
  margin: 1em auto;
  width: 50%;
}

.output-container {
  width: 100%;
}

.stack-output {
  display: flex;
  flex-direction: row;
}

.friend-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 1em;
}

.output-box {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.output-container-2 {
  background-color: #007da3;
  display: flex;
  flex-direction: column;
  height: 40em;
  justify-content: center;
  justify-content: end;
  margin: 0 6em;
}

.photo-name {
  padding: 0.5em;
}

.photo-name img {
  height: auto;
  max-width: 75%;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.output-divider-2 {
  animation: popIn 0.5s ease-out;
}
