

.Profile-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Output-Divider {
    display: block;
    width: 50%;
    background-color: #FFBBBB;
    margin: 1em auto;
    border: 1px solid #000000;
}

.Output-Container {
    width: 100%;
}
.Stack-Output {
    display:flex;
    flex-direction: row;
}

.Output-Box {
    width: 100%;
    background-color: #BBBBBB;
}
.Output-Container-2 {
    display: flex;
    flex-direction: column;
    margin: 0em 3em 0em 3em;
    justify-content: center;
    background-color: #2A5E70;
}

@keyframes popIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .Output-Divider {
    animation: popIn 0.5s ease-out;
  }
  